@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="result" method="get">
    <input type="text" name="name"/>
    <input type="date" name="birthdate"/>

    <button type="submit">Send</button>

</form>