@model Photo

<style>
    .btn-primary {
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .btn-primary:hover {
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
        }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    #filter {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    body {
        font-family: Tahoma;
    }

    label {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        margin: auto;
        display: block;
    }
</style>

<h1>Dodaj nowe zdjęcie</h1>

<form asp-controller="Photo" asp-action="CreateApi" method="post">

    <div class="mb-3">
        <label asp-for="DateAndTime"></label>
        <input class="form-control" asp-for="DateAndTime" type="datetime-local" />
        <span class="text-danger" asp-validation-for="DateAndTime"></span>
    </div>

    <div class="form-group">
        <label for="filter">Filtr Autora</label>
        <input class="form-control mb-3" type="text" name="filter" id="filter" />
        <label asp-for="AuthorId"></label>
        <select class="form-control mb-3" asp-for="AuthorId"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Camera"></label>
        <input class="form-control" asp-for="Camera" />
        <span class="text-danger" asp-validation-for="Camera"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Resolution"></label>
        <select class="form-control" asp-for="Resolution" asp-items="@Html.GetEnumSelectList<Resolution>()"></select>
        <span class="text-danger" asp-validation-for="Resolution"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Format"></label>
        <select class="form-control" asp-for="Format" asp-items="@Html.GetEnumSelectList<Format>()"></select>
        <span class="text-danger" asp-validation-for="Format"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utwórz</button>
    </div>

</form>

@section Scripts{
    <script>
        const select = document.getElementById('AuthorId');
        const filter = document.getElementById('filter');
        filter.oninput = function () {
            select.innerHTML = "";
            fetch(`/api/authors?q=${filter.value}`)
                .then(response => response.json())
                .then(authors => {
                    for (let aut of authors) {
                        const option = document.createElement('option');
                        option.setAttribute('value', aut.id);
                        option.innerText = aut.name;
                        select.appendChild(option);
                    }
                });
        }
    </script>
}
