@{
    ViewData["Title"] = "DeleteError";
}

<h1 class="text-danger">Wystąpił błąd podczas usuwania Autora</h1>
<p>Powodem błędu jest brak możliwości usunięcia autora ze względu na fakt, że ten autor jest przypisany do pewnego zdjęcia.</p>

<a asp-action="Index">Back to Authors</a>