@model ProjectData.Entities.AuthorEntity

@{
    ViewData["Title"] = "Edit";
}

<style>
    /* Dodaj ten fragment do pliku Index.cshtml */

    body {
        font-family: Tahoma;
    }

    table {
        width: 100%;
        margin-top: 20px;
    }

   

    .btn-primary,
    .btn-info,
    .btn-outline-info,
    .btn-outline-success,
    .btn-outline-danger {
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .btn-primary:hover,
        .btn-info:hover,
        .btn-outline-info:hover,
        .btn-outline-success:hover,
        .btn-outline-danger:hover {
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
        }

</style>

<h1>Edytuj dane autora</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
