@{
    ViewData["Title"] = "Polityka Prywatności";
}

<style>
    body {
        font-family: Tahoma;
    }

    h1 {
        color: #333;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    p {
        color: #555;
        line-height: 1.6;
    }

    h2{
    margin-left: 30px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p style="font-size: 150%">Witamy w aplikacji PhotoGallery. Niniejsza Polityka Prywatności opisuje, w jaki sposób chronimy i wykorzystujemy dane osobowe użytkowników.</p>

<h2>1. Zakres</h2>
<p>Aplikacja gromadzi i używa dane osobowe użytkowników w sposób zgodny z obowiązującymi przepisami prawa.</p>

<h2>2. Dane Osobowe</h2>
<p>Aplikacja może zbierać dane osobowe, takie jak imię, nazwisko, adres e-mail itp., tylko wtedy, gdy użytkownik świadomie je udostępnia, na przykład podczas rejestracji konta.</p>

<h2>3. Używanie Danych</h2>
<p>Dane osobowe są wykorzystywane w celu świadczenia spersonalizowanych usług związanych z galerią zdjęć. Informacje o użytkownikach mogą być używane do dostosowywania treści, zarządzania kontem, udostępniania komentarzy i śledzenia aktywności użytkownika w aplikacji.</p>

<h2>4. Ochrona Danych</h2>
<p>Bezpieczeństwo danych osobowych użytkowników jest dla nas priorytetem. Wdrożyliśmy odpowiednie środki bezpieczeństwa, aby chronić te informacje przed nieuprawnionym dostępem i wykorzystaniem.</p>
