/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 1.5rem; /* Zwiększenie rozmiaru czcionki dla navbar-brand */
}

a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0056b3;
    }

.nav-link {
    color: #495057;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #0077cc;
    }

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #0077cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: black;
    border-color: #0077cc;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #f8f9fa; /* Dodanie tła dla stopki */
    padding: 15px 0; /* Dodanie odstępu dla stopki */
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}


@media (max-width: 767px) {
    .navbar-nav.ml-auto {
        margin-top: 10px; /* Dodanie marginesu na małych ekranach */
    }
}
