@model Comment

@{
    ViewData["Title"] = "Usuń komentarz";
}

<style>

    body {
        font-family: Tahoma;
    }

    h1 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 5px;
        font-size: 18px;
    }

    h4 {
        font-size: 20px;
    }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 5px;
        padding: 8px 15px;
        text-decoration: none;
        display: inline-block;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
            text-decoration: none;
        }
</style>

<h1>Czy na pewno chcesz usunąć Zdjęcie?</h1>
<p>Komentarz</p>
<h4>@Model.Content</h4>
<p>Autor</p>
<h4>@Model.Username</h4>

<form asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" name="commentId" />
    <input asp-for="PhotoId" type="hidden" name="photoId" />
    <button class="btn btn-danger" type="submit">Tak</button>
</form>
